@{
    ViewBag.Title = "Historia wykształcenia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section AdditionalCss
{
    <style>
        .k-header .k-link {
            text-align: center;
        }

        td {
            text-align: center;
        }
    </style>
}


<div class="row h-100">
    <div class="col-12">
        <div class="card" style="height: 90%">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h2 class="card-title">Historia wykształcenia</h2>
                    </div>
                    <div class="col-6">
                        <button id="AddEducationBtn" name="AddEducationBtn" class="btn btn-primary mr-2 float-right"><i class="far fa-plus-square mr-2"></i>Dodaj nowy</button>
                    </div>
                </div>

                <div class="row h-100">
                    <div class="col">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/admin/Education/List.js"></script>
}
