<div class="row mt-3">
    <div class="col-3 text-left">
        <div class="row">
            <div class="col-12">
                <h6>Osiągnięcia</h6>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#AddAchievementToCvModal">
                    <i class="far fa-plus-square mr-2"></i> Dodaj
                </button>
            </div>
        </div>
    </div>
    <div class="col-9 text-left">
        <div id="AchievementList"></div>
    </div>
</div>


<script id="AchievementRowTemplate" type="text/x-kendo-template">
    <tr data-uid="#= uid #">
        <td colspan="2">
            <button class="btn btn-outline-danger float-right p-0 m-0 outlineRemoveBtn removeFromCvAchievement" data-id="#:AchievementId#"><i class="fas fa-trash-alt"></i></button>
            <b>#: Title #</b>
            <br />
            <i>#: kendo.toString(Date, "dd/MM/yyyy")#</i>
            <br />
            <p>
                #: Description #
            </p>
        </td>
    </tr>
</script>


<div class="modal" id="AddAchievementToCvModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Dodaj osiągnięcie do CV</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input id="AddAchievementToCvDropDownList" style="width: 100%;" />
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="AddAchievementToCv">Dodaj</button>
            </div>

        </div>
    </div>
</div>