@model System.Collections.Generic.List<PortfolioMVC5v3.Models.EmploymentHistory>

@if (Model.Any())
{
    <div class="row mt-3">
        <div class="col-3 text-left">
            <div class="row">
                <div class="col-12">
                    <h6>Historia zatrudnienia</h6>
                </div>
            </div>
        </div>
        <div class="col-9 text-left">
            <div class="row">
                @foreach (var employmentHistory in Model)
                {
                    <div class="col-12">
                        <b>@string.Format("{0}, {1}, {2}", employmentHistory.Position, employmentHistory.CompanyName, employmentHistory.CityOfEmployment)</b>
                    </div>
                    <div class="col-12">
                        <p>
                            @{
                                var endDateStr = employmentHistory.CurrentPlaceOfEmployment ? "Obecnie" : employmentHistory.EndDate.ToShortDateString();
                            }
                            <i>@string.Format("{0} - {1}", employmentHistory.StartDate.ToShortDateString(), endDateStr)</i>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
}